<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <material name="blue"> <!--we created a material tag-->
        <color rgba="0 0 0.5 1" /> <!--r g b alpha(transparency)-->
    </material>

    <material name="gray">
        <color rgba="0.5 0.5 0.5 1" />
    </material>
    
</robot>